html,
body {
  background-color: #84a98c;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  width: 350px;
}

#inputField {
  width: 200px;
  height: 36px;
  border: 2px solid black;
  outline: none;
  font-size: 15px;
  vertical-align: middle;
}

#addToDo {
  height: 42px;
  width: 40px;
  border: 2px solid black;
  vertical-align: middle;
  font-size: 30px;
}
.to-dos {
  margin: 20px;
}
.paragraph-styling {
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
}
